.quote {
  font-family: var(--font-heading);
  font-style: italic;
  line-height: 1.3;
  color: var(--color-text);
  margin: 0 auto;
  text-align: center;
}

.md {
  font-size: var(--font-size-2xl);
  max-width: 34ch;
}

.lg {
  font-size: var(--font-size-3xl);
  max-width: 28ch;
}
